.form-full-center{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:700px;
    left: 0;
    right: 0;
    width:100%;
    height:auto;
}

.box-container-start{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px;
    width:100vw;
    height:100vh;
}

.box-container-table{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top:60px;
    padding:40px;
    width:100vw;
    height:100vh;
    margin-left:20px;
    margin-right: 20px;
}

.joint-form-assign{
    margin-top:60px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 10px 17px 6px rgba(0,0,0,0.24);
}

.product-details{
    position: absolute;
    top:250px;
    left: 15;
    right: 15;
    width:805px;
    height:100%;
    margin-left: auto;
}


.box-container{
    display: flex;
    justify-content: center;
    align-items:center;
    width:100vw;
    height:100vh;
    padding:40px;
}


.validation-half{
    flex:0.4;
    display: flex;
    align-items: center;
    flex-direction: column;
    height:100%;
    color:white;
    background-color: #673ab7;
}

.MuiTypography-body1{
    color: #673ab7;
}

.validations{
    padding:20px;
    height:500px;
}

.flex-column{
    flex-direction: column-reverse;
}

p{
    font-size: 15px;
}

#store-submit-btn{
    padding:20px;
    padding-top:0px;
}


.store-requirement{
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height:170px;
    color:white;
    background-color: #673ab7;
}

p{
    font-size: 15px;
}


.joint-form{
    margin-top:60px;
    display: flex;
    box-shadow: 0px 10px 17px 6px rgba(0,0,0,0.24);
}

.joint-form-large{
    margin-top:60px;
    display: flex;
    box-shadow: 0px 10px 17px 6px rgba(0,0,0,0.24);
}



.form-half{
    flex:0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px;
}

.login-full{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:40px;
}

.text-space{
    padding:20px;
}

.add-prods{
    justify-content: flex-start;
    flex-direction: column
}

.product-form-header{
    width: 95%;
    margin: 40px;
    margin-bottom: 0px
}

.product-form-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding:20px;
}

th{
    background-color: #673ab7 !important;
    color: white !important;
    
}

td,th{
    text-align:center !important;
}

input[type=checkbox]{
    margin-top:-2px;
}

.disabled{
    color:grey
}

a{
    text-decoration: none
}

.icon-style{
    padding-right: 5px;
    margin-top: -2px
}

.typo-div{
    display: flex;
}

.approved-text{
    display: flex;
    color: #ffc107
}

.help-block-h4{
    text-align : left !important;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: -20px
                    
}

.submit-pad{
    margin-top:30px !important;
}

.center-h3{
    text-align: center;
}

.joint-form-store-style{

    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 210px;
    left: 40px;

}

.empty-submit{
    margin-top: 30px;
    pointer-events: none !important;
    opacity: 0 
}

#top-desc-h5{
    padding:20px 0px;
}

.space-margin-top{
    margin-top:30px !important;
}

#special-href{
    text-decoration : "none";
    opacity : 0;
    pointer-events:"none"
}

.advanced-form-container{
    display: flex;
    justify-content: space-between;
    padding:20px;
}

.form-first-half{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:0.47;

}

.form-second-half{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:0.47;
}

.special-store-help{
    margin-left:40px !important;
    margin-top:20px !important;
}


.expanded-form{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.MuiListItemIcon-root{
    color: #673ab7 !important;
}

.flex-grid{
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
}

.product-name{
    height:10%;
    width:100%;
    padding:20px;
    color: #673ab7 !important;
}

.product-image{
    width:100%;
    height:60%;
    overflow: scroll;
    overflow-x: hidden;
}

.product-table-data{
    width:100%;
    height:15%;
}

.product-table-data  > tr,td,th,table,thead,tbody{
    border:none !important;
    box-shadow:none !important;
    border-radius: 0px !important;
}



.product-image img{
    width:100%;
    
}

.product-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    height:20%;
    width:100%;
    padding:20px;
    overflow: scroll;
    overflow-x: hidden;
}

.card-header{
    color: #673ab7 !important;
}

.productform{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width:100% !important;
    height:100% !important;
}

.form-half form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100% !important;
    height:100% !important;
}

.form-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100% !important;
    height:100% !important;
    padding:40px;
 
}

.button-link{
    width : 100% !important;
}

.center-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
}

.right-nav-btn{
    margin-left: auto !important;
    color: white !important;
}

#select_flag_button {
    color: white !important;
}

.flag-select__option , .flag-select__option--placeholder{
    color: black !important
}

@media only screen and (max-width: 600px) {
    .joint-form , .joint-form-large, .joint-form-assign{
        display: table-row;
        margin: 0px 20px;
    }

    .box-container ,  .box-container-start , .box-container-table{
        padding:0px;
        padding-top:20px;
    }

    #app-header{
        display: none;
    }

    .validations{
        height: auto;
    }

}

.thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 150px;
  }
  
  .thumbnail:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
