.box-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top:0px;
    bottom:0px;
    left:160px;
    right:0px;
    width:auto;
    height:100%;
}

.joint-form{
    position: relative;
    height:600px !important;
    width: 900px;
    box-shadow: 0px 10px 17px 6px rgba(0,0,0,0.24);
}

.validation-half{
    position: absolute;
    top:0px;
    left:0px;
    width:300px;
    bottom:0px;
    right:0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height:100%;
    color:white;
}

.validations{
    padding:20px;
}

.form-first-half{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:-50px;
    left:10px;
    bottom:0px;
    right:50px;
    width:400px;
    height:100%;
}

.form-second-half{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:-658px;
    left:410px;
    bottom:0px;
    right:50px;
    width:400px;
    height:100%;
}

#store-submit-btn{
    position: absolute;
    top:375px;
    left:20px;
    width:785px !important;
    z-index: 200;
}

.store-requirement{
    position: absolute;
    top:430px;
    left:0px;
    width:850px;
    bottom:0px;
    right:0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height:170px;
    color:white;
    background-color: #673ab7;
}

p{
    font-size: 15px;
}